apiVersion: velero.io/v1
kind: Backup
metadata:
  name: backup-{{ app_name }}
  namespace: openshift-adp
spec:
  includedNamespaces:
    - {{ app_name }}
  defaultVolumesToFsBackup: true
  ttl: 4h00m00s
