  - name: Commit configuration to repository
    ansible.builtin.shell: |
      git config --global user.email "{{ git_email }}"
      git config --global user.name "{{ git_user }}"
      git pull
      git add .
      git commit -m "{{ git_message }}"
      git push --repo="{{ git_repository | urlsplit("scheme")}}://{{ lookup('env','GITEA_USERNAME') }}:{{ lookup('env','GITEA_PASSWORD') }}@{{ git_repository | urlsplit("hostname") }}{{ git_repository | urlsplit('path') }}"
    args:
      chdir: "{{ git_directory }}"
    ignore_errors: true
    register: git_result
