apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: dpa-velero
  namespace: openshift-adp
spec:
  configuration:
    nodeAgent:
      enable: true
      uploaderType: kopia
    velero:
      defaultPlugins:
      - openshift
      - azure
  backupLocations:
    - velero:
        config:
          resourceGroup:  {{ AZURE_RESOURCE_GROUP }}
          storageAccount: {{ AZURE_STORAGE_ACCOUNT }}
          subscriptionId: {{ AZURE_SUBSCRIPTION_ID }}
          storageAccountKeyEnvVar: {{ AZURE_STORAGE_ACCOUNT_ACCESS_KEY }}
        credential:
          key: cloud
          name: cloud-credentials-azure 
        provider: azure
        default: true
        objectStorage:
          bucket: "{{ bucket }}"
          prefix: velero
          